<div class="row text-center">
    <p>
        <strong>Name:</strong>
        <%= @applicant.name %>
    </p>
    
    <p>
        <strong>Email:</strong>
        <%= @applicant.email %>
    </p>
    
    <p>
        <strong>School:</strong>
        <%= @applicant.school %>
    </p>
    
    <p>
        <strong>Year:</strong>
        <%= @applicant.year %>
    </p>
    
    <p>
        <strong>Experience:</strong>
        <%= @applicant.experience %>
    </p>
    
    <%= link_to "Back", applicants_path %>
</div>